<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <title>I EATED IT!!!</title>
</head>

<body>
    <img src="burger image" width="400px" alt="Goodburger">

    {{{ body }}}

    <footer class="burgerFooter">
        <div class="footer-copyright">
            <div class="container">
                <span class="grey-text text-lighten-4">© JustPlanted</span>
                <a href="github here">Github link</a>
            </div>
        </div>
    </footer>
</body>

</html>